#navegador {
    height: 75px;
    margin: 0px;
}

#lista {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    align-items: center;
    margin: 0px;
}

body {
    margin: 0;
    height: 100vh;
    background-size: contain;
    background: linear-gradient(rgb(238, 53, 7), rgb(238, 129, 4));

}

li {
    color: rgb(215, 241, 222);
    transition: color 0.3s ease;
}

li:hover {
    color: rgb(3, 8, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:50px;


}

#Icono {
    width: 50px;
}

#Icono_CCs {
    width: 50px;
}

#Todo_los_icono {
    flex-direction: column;
}

#Icono_para_js {
    width: 50px;
}

#Node_js {
    width: 50px;
}

/* BOTON DE NAV*/
button {
    --glow-color: rgb(255, 185, 176);
    --glow-spread-color: rgba(255, 138, 123, 0.781);
    --enhanced-glow-color: rgb(234, 225, 241);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

#Descripcion_de_HOLA {
    font: size 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Descpcion_de_Quiensoy {
    font: size 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Mis_tecnologias_fav {
   margin-top: 150px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   }
   #BOTON_ID {
    width: 200px;
    display: flex;
   justify-content: center;
   flex-direction: column;
   }
   #ICONO_FONDO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 1em;

   }